:root {
    --pimary-clr: white;
    --seconadry-clr: black;
    --tritary-clr: skyblue;

    --primar-font: "Poppins";

}

body {
    width: 100%;
    margin: 0;
    padding: 0;
}

.Home-page nav {
    width: 100%;
    margin: 20px;
    background-color: rgb(225, 158, 24);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.Home-page nav .Nav-list {
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Home-page nav .Nav-list li {
    list-style: none;
}

.Home-page nav .Nav-list li a {
    text-decoration: none;
    color: white;
    display: flex;
    padding: 30px;
    font-size: 25px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.Home-page nav .Nav-list li a:hover {
    border: 2px solid brown;
    border-radius: 30px;
    background-color: red;
}

.View-1 {
    padding: 100px;
    margin-left:40%;
    width: 500px;
    height: 400px;
    background: linear-gradient(rgb(221, 127, 6), rgba(212, 61, 1, 0.785));
    justify-content: center;
    align-items: center;
}

.View-1 .search {
    display: flex;
    justify-content: center;
    align-items: center;
}
.View-1 .search input{
    font-size: 25px;
    border-radius: 20px;
}
.View-1 .search button{
    font-size: 20px;
}
.View-1 .search button:hover{
    background-color: blue;
}
.View-1 .Wheather-view{
    text-align: center;
    font-size:20px;
    color:white;
}
